.controls 
{
    display: flex;
    justify-content: space-between;
}

input[type=search] 
{
    text-align: center;
}

::deep .discipline-name 
{
    width: 40%;
}

::deep .discipline-lessons 
{
    width: 40%;
}
